/*general*/

.main-container {
  max-width: 1227px;margin: auto;padding: 1%
}

.column {
  flex-grow:0;
  flex-basis:calc(25% - 2rem);
  line-height: 0;
  padding: 1rem;
}


/*obra día*/
.ficha-metadata {
  font-family: 'Exo', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.950rem;
  padding: 2.500rem 6% 4.500rem 15.1%;
  line-height: 1.5em;
}

.metadata-input {
  font-size: 0.938;
  font-weight: 600;
  
}

.actions-h {
  margin:auto;display:flex;justify-content: center;
}

.actions-h, .actions-v i {
  font-size:1.875rem;
}

.actions-h i {
  padding: 0.75em;
}

.actions-v {
  flex-grow:0;flex-basis:8%;align-self: center;text-align: center
}

.portada {
flex:0 0 auto;
align-self: center;
line-height: 0;
}

/*obras*/
.row {
  display: flex;flex-direction: row;flex-wrap:wrap;align-items: stretch;margin:.688rem -1rem 3.125rem -1rem
}


/*xs styling*/

.portada {
  max-width: 68.8%;  
  margin: auto;
  flex-basis:100%;
}

.ficha-title {
  flex: 0 0 auto;flex-basis:100%;
  padding: 15.1% 6% 2.250rem 15.1%;
}

.ficha-container > div
{padding-right: 15.1%;}

.ficha-extract {
  padding-left:  15.1%;
}


.obra-dia {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: baseline;
  margin-bottom: 50px;
  margin-top:27px;
  background-color: var(--background);
  
}

/*obras media queries*/

/*xs, s y m*/
@media screen and (max-width: 797px) {
  .actions-h {
    padding-bottom: calc(15.1% - 0.5em);
  }
}

/*xs, s, m y ml*/

@media screen and (max-width: 1039px){

  .actions-h {
    display: block;
  }

  .actions-v {
    display: none;
    flex-basis: 0%;
    max-width: 0%;
  } 

}

/*ml, l y xl*/
@media screen and (min-width: 798px){
  
  .ficha-title {
    padding: 5.750rem 6% 2.250rem 15.1% !important;

   }
  .ficha-extract {
padding: 0px 6% 0 15.1% !important;
  }

  .portada {
    padding-left: 0;
  }

  .ficha-metadata {
    padding: 2.500rem 6% 4.813rem 15.1% !important;
  }
}

/*solo m*/
@media screen and (min-width: 601px) and (max-width: 797px) {
  .portada {
    max-width: 50%;
  }
  .header{
    height: 70vh;
  }

}
/*Solo l*/

@media screen and (min-width: 798px) and (max-width: 1039px) {
  
  .portada {
    flex-basis: 45%;
    max-width: 45%;
    padding-top: 0rem;

  }

  .ficha-container {
    flex-basis: 55%;
    max-width: 55%;
  }
  
  .portada {
    justify-content: 
  }

  .img-frame {
    padding-right: 10%;
  }
}

/*solo xl*/

@media screen and (min-width: 1040px ){

  .actions-h {
    display: none !important;
    }
  .actions-v {
    display: block !important;
  }
  .portada {
    flex-basis:39%;
    max-width: 39%;
    padding-top: 0;
}

  .ficha-container {
    flex-basis:53%;
    max-width: 53%;
  }


}
