/*header*/

.logo-container {
  max-width: 50%
}

/*xs styling*/

.header {
  display: flex;justify-content: center;height: 50vh;align-items:center;
}

/*Desde s hasta xl*/
@media screen and (min-width: 600px) {
  .header {
    height: 100vh;
  }
}